* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to bottom right, #2389ef, #b866ca);
}
.container {
  background-color: #fff;
  padding: 10px;
  border: 2px solid #2d292a;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 20px;
  position: relative;
  box-shadow: 5px 5px 10px#000000;
}
h2 {
  text-align: center;
}
.container .input {
  width: 80%;
  height: 30px;
}

.container .btn {
  width: 50px;
  height: 30px;
}

.container ul {
  list-style: none;
  padding: 0px;
}
.container li {
  border: 1px solid #f3e5c9;
  border-radius: 5px;
  background-color: #f3e5c9;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 89%;
}

.remove {
  float: right;
  /* background-color: #eab64fda; */
}
.edit {
  float: right;
  margin-right: 5px;
  display: block;
  text-decoration: none;
  /* background-color: #eab64fda; */
}
.container #error {
  color: #ff0000;
}
button {
  color: #663504;
  background-color: #5cf1f9;
  min-height: 22px;
  width: 40px;
}
.check-box {
  margin-right: 2px;
}
input:checked + span {
  text-decoration: line-through;
  text-decoration-color: #7b5018;
}
